body{
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.head, .footer {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.left-align{
    margin-right: auto;
}

.right-align{
    margin-right: auto;
}

ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* font sizes*/

.text-hero-bold{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.text-hero-norm{
    font-size: 18px;
    color: #E5E7EB;
}

.text-header{
    font-size: 24px;
    color: #F9FAF8;
}

/* head content */

.head {
    padding: 10px 100px;
}

.head-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 20px;
}

.header{
    display: flex;
    font-size: 24px;
    padding-bottom: 30px;
}

.head-image{
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    height: auto;
}

.button, .call-to-action{
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5px 20px;
}

/* images section  */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-img{
    display: flex;
    padding: 10px;
    gap: 30px;
}

.border{
    border: 5px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-width: 150px;
    max-width: 150px;
    height: fit-content;
}

.img-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* quotes section */

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 5px 150px;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter; 
    font-style: italic;
    color:#1F2937;
    text-align: center;
}