body{
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.head, .footer {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

img{
    max-width: 50%;
    max-height: 50%;
}

.spacing {
    padding: 0px 100px;
}

/* font sizes*/

.text-hero-bold{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.text-hero-norm{
    font-size: 18px;
    color: #E5E7EB;
}

.text-header{
    font-size: 24px;
    color: #F9FAF8;
}

/* head content */

.head {
    padding: 10px;
}

.head-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.header{
    display: flex;
    font-size: 24px;
    padding-bottom: 30px;
}

.head-image{
    width: 150;
    height: 100;
}

.button, .call-to-action{
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5px 20px;
}

.left-align{
    margin-right: auto;
}

.right-align{
    margin-right: auto;
}

ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

